            <div class="person-add">
                <div class="wrapper">

                <div class="heading">
                    <h2>Q & A 수정 </h2>

            </div>

            <form action="/board/update_process2" method="post">

                <div class="input-group">
                    <input type="hidden"  name="board_id" value="<%=board[0].board_id%>" class="input-field" placeholder="type-id" >
                </div>

                <div class="input-group">
                    <input type="hidden"  name="type_id" value="<%=board[0].type_id%>" class="input-field" placeholder="type-id" >
                </div>

                <div class="input-group">
                    <input type="hidden"  name="p_id" value="<%=board[0].p_id%>" class="input-field" placeholder="p_id" >
                </div>

                <div class="input-group">
                    <input type="hidden"  name="password" value="<%=board[0].password%>" class="input-field" placeholder="password" >
                </div>
            
                <div class="input-group">
                    <span>주제 </span>
                    <input type="text" name="title" value="<%=board[0].title%>" class="input-field" placeholder="title" >
                </div>
                
                <div class="input-group">
                    <span>작성자</span>
                    <input type="text"  name="loginid" value="<%=board[0].loginid%>" class="input-field" placeholder="loginid" disabled>
                </div>

                <div class="input-group">
                    <span>내용</span>
                    <textarea name="content" id="" cols="50" rows="30" class="input-field" placeholder="내용" ><%=board[0].content%></textarea>
                </div>
                


                <button type="submit">수정</button>

            </form>

            
            <footer>
                Leaning NodeJS ❤️ with <a href="https://www.facebook.com/profile.php?id=100010043976419" target="_black">CongDuc</a>
            </footer>