<div class="background">
  <div class="container">
    <div class="panel pricing-table">
      
      <!-- <% for (var i = 0; i < itemLists.length; i++) { %> -->
        <div class="pricing-plan">
          <form action="/purchase/pay" method="post">
            <a href="/purchase/detail/<%= itemLists[0].mer_id %>"><img class="img-size" src="<%= itemLists[0].image %>" alt="" class="pricing-img"></a>

            <h2 class="pricing-header"><%= itemLists[0].name %></h2>
            <ul class="pricing-features">
            <li class="pricing-features-item"><%= itemLists[0].brand %></li>
            <li class="pricing-features-item">
              <span style="margin-right: 10px;">수량:</span>
              <input type="number" name="qty" id="" min="1">
              <input type="hidden" name="merID" value="<%= itemLists[0].mer_id %>">
            </li>
            </ul>
            <span class="pricing-price"><%= itemLists[0].price %>won</span>
            <button class="pricing-button" name="card" value="1" type="submit">결제하기</button>
            <!-- <a href="#" class="pricing-button">결제하기</a> -->
            <button class="pricing-button" name="card" value="2" type="submit">장바구이</button>
            <!-- <a href="#/" class="pricing-button">장바구이</a> -->
          </form>
        </div>
      <!-- <% } %> -->
      
    </div>
  </div>
</div>