<style>
table {
    border-collapse: collapse;
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
    font-size: larger;
}
thead {
    font-weight: 600;
    color: brown;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: rgb(189, 169, 162);}
</style>
<table >
    <thead> 
        <td>Login ID</td>
        <td>Name</td>
        <td>Address</td>
        <td>Tel</td>
        <td>Birth</td>
        <td>Class</td>
        <td>Point</td>
        
        <td></td>
        <td></td>
    </thead> 
    <% for (var i = 0; i < personLists.length; i++) { %>
            <tr>
                
                <td><%=personLists[i].loginid %></td>
                <td><%=personLists[i].name %></td>
                <td><%=personLists[i].address %></td>
                <td><%=personLists[i].tel %></td>
                <td><%=personLists[i].birth %></td>
                <td><%=personLists[i].class %></td>
                <td><%=personLists[i].point %></td>
                
                <td class="code-button-size"><a href="/person/update/<%=personLists[i].loginid %>" class="pricing-button-codeUD">update</a></td>
                <td class="code-button-size"><a href="/person/delete/<%=personLists[i].loginid %>" class="pricing-button-delete-codoUD" onclick="if(confirm('정말로 삭제하시겠습니까?') == false){return false}">delete</a></td>
            </tr>
    <% } %>
</table>